#Entries to access to vivo sparql update api
# Copy this to vivoapipw.py and modify the entries
EMAIL='my.email@yourschool.edu'
PASSWORD='somecrazysecurepassword'
ENDPOINT='http://yourschool.edu/vivo/api/sparqlQuery'
PEOPLEINDEX='people'
PUBSINDEX='pubs'
ALTMETRIC_API_KEY='8k39sdkakl349skkjsomeotherkeycausethisaintreal'
